@page "/user/viewuser/{id}"
@using Gaby.Client.Services.SharedServices
@using Gaby.Shared.Model
@inject IUserService UserService
@inject NavigationManager navManager
@inject Gaby.Client.Shared.PageHistoryState PageHistoryState

<h1>Vista de usuario</h1>
<br/>

<table class="table col-md-6">
    <tbody>
        <tr>
            <th scope="row">Id</th>
            <td>@user.Id</td>
        </tr>
        <tr>
            <th scope="row">Nombre</th>
            <td>@user.FirstName</td>
        </tr>
        <tr>
            <th scope="row">Apellidos</th>
            <td>@user.LastName</td>
        </tr>
        <tr>
            <th scope="row">Nombre de usuario</th>
            <td>@user.Username</td>
        </tr>
    </tbody>
</table>

<div class="form-group">
    @if (PageHistoryState.CanGoBack()){
        <NavLink href="@PageHistoryState.GetGoBackPage()" class="btn btn-link">Back</NavLink>
    }
    else{
        <NavLink href="/user/1" class="btn btn-link">Back</NavLink>
    }
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    User user = new User();
    
    protected async override Task OnParametersSetAsync()
    {
       user = await UserService.GetUser(int.Parse(Id));
    }
}