@page "/offer"
<PageTitle>Offer</PageTitle>

<h3>Ofertas</h3>

<PageTitle>Offer</PageTitle>

<form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:40%">Precio</th>
                <th style="width:40%">Disponible</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@offer1.Price</td>
                <td>@si</td>
                <td style="white-space: nowrap">

                    <NavLink href="@($"/client/viewclient/{offer1.OfferId}")" class="oi oi-eye text-primary mr-3 nounderline"></NavLink>

                    <button class=" btn btn-link oi oi-trash text-danger mr-1 nounderline">
                        <span></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>@offer2.Price</td>
                <td>@si</td>
                <td style="white-space: nowrap">

                    <NavLink href="@($"/client/viewclient/{offer2.OfferId}")" class="oi oi-eye text-primary mr-3 nounderline"></NavLink>

                    <button class=" btn btn-link oi oi-trash text-danger mr-1 nounderline">
                        <span></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>


@code {
    Gaby.Shared.Model.Offer offer1 = new Gaby.Shared.Model.Offer
    {
        Price = 2000,
        Availability = true
    };
    Gaby.Shared.Model.Offer offer2 = new Gaby.Shared.Model.Offer
    {
        Price = 3000,
        Availability = true
    };
    string si = "Sí";
}

