@page "/employee"
@using Gaby.Shared.Model
@using Gaby.Client.Services.SharedServices
@using Gaby.Client.Services.Employee
@inject ICoachService CoachService
@inject ICleanerEmployeeService CleanerEmployeeService
@inject IMaintenanceEmployeeService MaintenanceEmployeeService
@inject IEmployeeService EmployeeService
@inject NavigationManager UriHelper
@inject IUserService UserService
@inject PageHistoryState PageHistoryState

<h4>Empleados</h4>

@if (LoggedIn)
{
    <div class="row mb-3">
        <div class="input-group col-md-5 text-md-right">
            <input name="EmployeeSearchInput" type="text" class="form-control" placeholder="Nombre" @bind="SearchTerm" @onkeyup="SearchBoxKeyPress"/>
            <div class="input-group-btn">
                <button name="EmployeeSearchButton" class="btn btn-default" @onclick="SearchClick">
                    <i class="oi oi-magnifying-glass" title="buscar" aria-hidden="true"></i>
                </button>
            </div>
            <div class="input-group-btn">
                <button name="EmployeeSearchClear" class="btn btn-default" @onclick="ClearSearch">
                    <i class="oi oi-x" title="limpiar" aria-hidden="true"></i>
                </button>
            </div>

        </div>
    </div>
    
    <div class="input-group-btn">
        <NavLink href="/employee/createemployee" class="btn btn-sm btn-success mb-2">Añadir Empleado</NavLink>
    </div>


    <h5>Entrenadores</h5>

    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:50%"></th>
                <th style="width:5%"></th>
            </tr>
        </thead>
        <tbody>
        @if (coaches == null)
        {
            <p><em>Cargando...</em></p>
        }
        else
        {
            @foreach (Employee worker in coaches)
            {
                <tr>
                    <td>@worker.Name</td>
                    @*<td>@worker.BasicSalary</td>
                    <td>@worker.ExtraSalary</td>*@
                    <td style="white-space: nowrap">
                        <NavLink href="@($"/employee/viewemployee/{worker.EmployeeId}")" class="oi oi-eye text-blue-700 mr-3 nounderline"></NavLink>

                        <NavLink href="@($"/employee/editemployee/{worker.EmployeeId}")" class="oi oi-pencil text-warning mr-2 nounderline"></NavLink>

                        <button @onclick="@(() => DeleteEmployee(worker))" class=" btn btn-link oi oi-trash text-danger mr-1 nounderline">
                            <span></span>
                        </button>

                    </td>
                </tr>
            }
        }
        </tbody>
    </table>

    <h5>Trabajadores de mantenimiento</h5>

    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:50%"></th>
                <th style="width:5%"></th>
            </tr>
        </thead>
        <tbody>
            @if (maintenanceEmployees == null)
            {
                <p><em>Cargando...</em></p>
            }
            else
            {
                @foreach (Employee worker in maintenanceEmployees)
                {
                    <tr>
                        <td>@worker.Name</td>
                        @*<td>@worker.BasicSalary</td>
                        <td>@worker.ExtraSalary</td>*@
                        <td style="white-space: nowrap">
                            <NavLink href="@($"/employee/viewemployee/{worker.EmployeeId}")" class="oi oi-eye text-blue-700 mr-3 nounderline"></NavLink>

                            <NavLink href="@($"/employee/editemployee/{worker.EmployeeId}")" class="oi oi-pencil text-warning mr-2 nounderline"></NavLink>

                            <button @onclick="@(() => DeleteEmployee(worker))"  class=" btn btn-link oi oi-trash text-danger mr-1 nounderline">
                                <span></span>
                            </button>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <h5>Trabajadores de limpieza</h5>

    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:50%"></th>
                <th style="width:5%"></th>
            </tr>
        </thead>
        <tbody>
            @if (cleanerEmployees == null)
            {
                <p><em>Cargando...</em></p>
            }
            else
            {
                @foreach (Employee worker in cleanerEmployees)
                {
                    <tr>
                        <td>@worker.Name</td>
                        @* <td>@worker.BasicSalary</td> *@
                        <td style="white-space: nowrap">
                            <NavLink href="@($"/employee/viewemployee/{worker.EmployeeId}")" class="oi oi-eye text-blue-700 mr-3 nounderline"></NavLink>

                            <NavLink  href="@($"/employee/editemployee/{worker.EmployeeId}")" class="oi oi-pencil text-warning mr-2 nounderline"></NavLink>

                            <button @onclick="@(() => DeleteEmployee(worker))"  class=" btn btn-link oi oi-trash text-danger mr-1 nounderline">
                                <span></span>
                            </button>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}




@code {

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    public bool LoggedIn => UserService.User != null;

    ICollection<Employee> coaches;
    ICollection<Employee> maintenanceEmployees;
    ICollection<Employee> cleanerEmployees;

    
    protected override void OnInitialized()
    {
        PageHistoryState.AddPageToHistory(UriHelper.Uri);
        base.OnInitialized();
    }
    
    protected override async Task OnParametersSetAsync()
    {
        coaches = await CoachService.GetEmployees(null);
        maintenanceEmployees = await MaintenanceEmployeeService.GetEmployees(null);
        cleanerEmployees = await CleanerEmployeeService.GetEmployees(null);
        
        PageHistoryState.AddPageToHistory(UriHelper.Uri);
    }

    private async void DeleteEmployee(Employee employee)
    {
        var _employee = employee;
        _employee.Active = false;
        switch (_employee)
        {
            case Coach coach:
                await CoachService.DeleteEmployee(coach);
                break;
            case MaintenanceEmployee maintenanceEmployee:
                await MaintenanceEmployeeService.DeleteEmployee(maintenanceEmployee);
                break;
            case CleanerEmployee cleanerEmployee:
                await CleanerEmployeeService.DeleteEmployee(cleanerEmployee);
                break;
        }
        StateHasChanged();
    }

    protected async Task SearchBoxKeyPress(KeyboardEventArgs ev)
    {
        if (ev.Key == "Enter")
        {
            await SearchClick();
        }
    }

    protected async Task SearchClick()
    {
        if (string.IsNullOrEmpty(SearchTerm))
        {
            coaches = await CoachService.GetEmployees(null);
            maintenanceEmployees = await MaintenanceEmployeeService.GetEmployees(null);
            cleanerEmployees = await CleanerEmployeeService.GetEmployees(null);
            return;
        }
        coaches = await CoachService.GetEmployees(SearchTerm);
        maintenanceEmployees = await MaintenanceEmployeeService.GetEmployees(SearchTerm);
        cleanerEmployees = await CleanerEmployeeService.GetEmployees(SearchTerm);
        StateHasChanged();
    }

    protected async Task ClearSearch()
    {
        SearchTerm = string.Empty;
        coaches = await CoachService.GetEmployees(SearchTerm);
        maintenanceEmployees = await MaintenanceEmployeeService.GetEmployees(SearchTerm);
        cleanerEmployees = await CleanerEmployeeService.GetEmployees(SearchTerm);
        StateHasChanged();
    }
}