@page "/lesson/viewlesson/{id}/{coachId}"
@using Gaby.Client.Services.Lessons
@using Gaby.Shared.Model
@inject NavigationManager UriHelper
@inject PageHistoryState PageHistoryState
@inject ILessonService LessonService; 


<h4>Vista de clase</h4>
<br/>

@if (lesson.Coach != null && lesson.Service != null)
{
    <table class="table col-md-6">
        <tbody>
        <tr>
            <th scope="row">Nombre</th>
            <td>@lesson.Service.ServiceType.ServiceTypeName</td>
        </tr>
        <tr>
            <th scope="row">Entrenador</th>
            <td>@lesson.Coach.Name</td>
        </tr>
        <tr>
            <th scope="row">Capacidad</th>
            <td>@lesson.Capacity</td>
        </tr>
        <tr>
            <th scope="row">Precio</th>
            <td>@lesson.Price</td>
        </tr>
        <tr>
            <th scope="row">Duracion</th>
            <td>@lesson.MinutesDuration minutos</td>
        </tr>
        </tbody>
    </table>
}


<div class="form-group">
    @if (PageHistoryState.CanGoBack())
    {
        <NavLink href="@PageHistoryState.GetGoBackPage()" class="btn btn-link">Atrás</NavLink>
    }
    else
    {
        <NavLink href="/lesson/1" class="btn btn-link">Atrás</NavLink>
    }
</div>

@code {

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string coachId { get; set; }

    Lesson lesson = new Lesson
    {
        Capacity = 0,
        Price = 0,
        MinutesDuration = 0
    };

    protected override async Task OnParametersSetAsync()
    {
        var lessonList = await LessonService.GetLesson(int.Parse(Id), coachId);
        lesson = lessonList[0];
    }


}